@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F9F5EB;
}

.text-secondary {
    color: #F9FBE7;
    font-size: 25px;
}

form p,
form input,
form label {
    font-size: 20px;
    cursor: pointer;
}

